:root {
    --color-orange: #e28743;
}

@font-face {
    font-family: Noto;
    src: url(NotoSansJP-Regular.otf);
}

@font-face {
    font-family: Bombardier;
    src: url(bombardier.regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Noto, sans-serif;
}

#logo {
    position: relative;
    left: 1.5rem;
    display: block;
    margin: auto;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#logo-2 {
    position: relative;
    float: right;
    left: 4%;
    display: block;
    margin: auto;
    width: 12rem;
    height: 5.5rem;
    cursor: pointer;
}

.container {
    background-color: var(--color-orange);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#nav-shadow {
    box-shadow: 0 1.5rem 2rem -2rem black;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 2.75rem;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #ffa561;
}

.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid wheat;
}


/*This code is for everything below the navbar*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.left-divs {
    border-radius: 2rem 0 0 2rem;
    background-color: black;
    border: 8px wheat solid;
    border-right: 0;
    margin-left: 1rem;
}

.left-divs-2 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Noto, sans-serif;
    border-radius: 2rem 0 0 2rem;
    background-color: black;
    color: white;
    border: 8px wheat solid;
    border-right: 0;
    margin-bottom: 1rem;
}

.black-div-right {
    position: relative;
    margin-right: 1rem;
    font-family: Noto, sans-serif;
    border-radius: 0 2rem 2rem 0;
    background-color: black;
    color: white;
    border: 8px wheat solid;
    border-left: 0;
}

.black-div-right-2 {
    margin-top: 1rem;
    position: relative;
    display: block;
    margin-right: 1rem;
    font-family: Noto, sans-serif;
    border-radius: 0 2rem 2rem 0;
    background-color: black;
    color: white;
    border: 8px wheat solid;
    border-left: 0;
    margin-bottom: 1rem;
}

#pic2 {
    margin-left: -1rem;
    border-radius: 0 2rem 2rem 0;
}

.title {
    font-family: "Bombardier", sans-serif;
    font-style: italic;
    font-size: 5rem;
    text-align: center;
}

.text {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

.img {
    width: 100%;
    border-radius: 2rem 0 0 2rem;
    padding: 1rem 0 1rem 1rem;
    height: 100%;
}

#noodle-bowl {
    border-radius: 2rem 0 0 2rem;
}

a>button {
    background-color: #e28743;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -2rem;
    cursor: pointer;
    width: 40%;
    height: 15%;
    border-radius: 2rem;
    font-size: 3rem;
    font-weight: 800;
    font-family: "Bombardier";
    transition: all 0.3s ease 0s;
}

#second-btn {
    font-size: 2.6rem;
}

a {
    text-decoration: none;
}

a>button:hover {
    background-color: #43e287;
    color: wheat;
}


/* end of that segment */

@media (max-width: 800px) {
    #second-btn {
        font-size: 1.2rem;
    }
    #second-btn:hover {
        background-color: #8743e2;
        color: wheat;
    }
    .title {
        font-family: "Bombardier", sans-serif;
        font-style: italic;
        font-size: 2.3rem;
        text-align: center;
    }
    .text {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .img {
        display: flex;
        border-radius: 4rem;
        width: 100%;
        height: 100%;
    }
    .left-divs {
        margin-left: 1rem;
        border-radius: 2rem 0rem 0rem 2rem;
        background-color: black;
        border-right: 0;
    }
    a>button {
        font-size: 1.2rem;
    }
    #logo-2 {
        display: flex;
        position: absolute;
        margin-top: -5.5rem;
        margin-left: 7rem;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
        font-size: 1.5rem;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}


/* this is for the menu page */

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    border: 8px solid wheat;
    background-color: black;
    color: white;
    border-radius: 2rem;
}

.menu {
    display: inline-block;
}

#menu-logo {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

#menu-name {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.45rem;
    width: 12rem;
    height: 5.5rem;
}

.menu-headers {
    margin-top: 3rem;
    color: rgb(255, 123, 0);
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.left-items {
    display: inline-grid;
    margin-left: 3rem;
    font-size: 2.4rem;
}

.right-prices {
    display: inline-grid;
    margin-right: 3rem;
    font-size: 2.4rem;
    float: right;
}

#menu-button {
    font-size: 3.8rem;
}

@media (max-width: 1250px) {
    .menu-headers {
        font-size: 2rem;
    }
    .left-items {
        font-size: 1.8rem;
        margin-left: 1rem;
    }
    .right-prices {
        font-size: 1.6rem;
        margin-top: .2rem;
        margin-right: 1rem;
    }
    #menu-button {
        font-size: 2.2rem;
        padding: 1rem;
        width: 9rem;
    }
}

@media (max-width: 890px) {
    .menu-container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    #menu-name {
        width: 10rem;
        height: 4.5rem;
    }
    #menu-logo {
        width: 5.8rem;
    }
    .menu-headers {
        font-size: 1.4rem;
    }
    .left-items {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
    .right-prices {
        font-size: 1.2rem;
        margin-top: .2rem;
        margin-right: 1rem;
    }
    #menu-button {
        font-size: 1.5rem;
        padding: 1rem;
        width: 9rem;
    }
}

@media (max-width: 670px) {
    .menu-container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    #menu-name {
        width: 10rem;
        height: 4.5rem;
    }
    #menu-logo {
        width: 5.8rem;
    }
    .menu-headers {
        font-size: 1rem;
    }
    .left-items {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .right-prices {
        font-size: .8rem;
        margin-top: .2rem;
        margin-right: 1rem;
    }
    #menu-button {
        font-size: 1.5rem;
        padding: 1rem;
        width: 9rem;
    }
}


/* style for the about page */

#about-div {
    background-color: black;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#about-header {
    font-size: 3rem;
    color: wheat;
    text-align: center;
}

#about-subtext {
    margin-top: -2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}

#about-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
}

#about-menu-button {
    margin-top: 1rem;
    width: 250px;
    font-size: 3rem;
}


/* style rules for the contact page */

#contact-div {
    border: 8px solid wheat;
    background-color: black;
    color: wheat;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#contact-email {
    color: wheat;
}

#contact-email:hover {
    color: #43e287;
}


/* admin page style */

#admin-div {
    background-color: black;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
}